// Body
$body-bg: #0072AE;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0072AE;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$warning: #f89e15;
$yellow: #ffed4a;
$green: #8dc63e;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #404040;
$dark: #282828;