// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-height: 75vh;
    justify-content: center;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-position: 30% center;
    background-color: #404040;
}

.dataTable {
    &>tbody>tr{
        cursor: pointer;

        table {
            font-size: 90%;
            cursor: initial;

            td {
                border-top: medium none;
            }
        }
    }
}
