// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-height: 75vh;
    justify-content: center;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-position: 30% center;
    background-color: #404040;
}

.dataTable {
    th {
        font-size: 13px;
    }

    .dtr-title {
        font-weight: 600;
    }

    &>tbody {
        background: #f7f7f7;
        &>tr{
            cursor: pointer;

            &.shown + tr {
                background-color: #ebf6ff;
            }

            table {
                cursor: initial;

                td {
                    border-top: medium none;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    div.dataTables_wrapper {
        .dt-buttons {
            float: left;
            margin-bottom: 15px;
        }

        .dataTables_filter {
            margin-right: 15px;
        }
        .dataTables_length {
            clear: both;
            margin-top: 20px;
            margin-left: 5px;
        }
    }
}

.g-recaptcha {
    transform:scale(0.79);
    transform-origin:0 0;
}

.details {
    padding: 15px 10px;
    clear: both;
    overflow: hidden;
    cursor: initial;

    input[type="checkbox"] {
        margin: 0 2px 0 0;
    }

    label {
        font-weight: 400;
        display: block;
        margin-bottom: 0;
    }

    a {
        text-decoration: underline;
    }

    textarea {
        background-color: #fdfdfd;
        border: 1px solid #ddd;
    }

    ul {
        padding-left: 0;
        list-style: none;
        margin-top: 10px;

        li {
            margin-bottom: 10px;
            clear: both;
            overflow: hidden;

            p {
                background-color: #fafafa;
                padding: 5px 10px;
                margin-bottom: 0;
                border-radius: 6px 6px 0 6px;
            }

            em {
                float: right;
                display: block;
                color: #666;
                font-family: serif;
                line-height: 1.1em;
                background-color: #fafafa;
                padding: 3px 8px;
                border-radius: 0 0 3px 3px;
            }
        }
    }
}